<!-- start: 2nd Page - Mot du président -->
	<div id="services" class="color black">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">
				
							<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

					<h2><span>{{'Mot du président'|trans}}</span></h2>

				</div>	

			</div>
			<!-- end: Page Title -->
			
			<!-- start: Row -->
      		<div class="row-fluid">
	
        		<div class="span12" >
					
					<div id="mot-president">
					<p>
						{% trans %}Bienvenue sur le site de XProjets, Junior-Entreprise de l’Ecole polytechnique. Vous y trouverez tous les moyens pour nous contacter et ainsi que nous puissions échanger.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}XProjets a été créée en 1981, et est membre de la CNJE (Confédération Nationale des Juniors-Entreprises) en France ainsi que de la JADE (European Confederation of Junior Enteprises) en Europe. C’est une association régie par la loi du 1er juillet 1901 dont la vocation est de créer des passerelles entre le monde de l’entreprise et les étudiants de l’école.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}Ces étudiants recherchent ces passerelles. Elles leur permettent de mieux cerner le monde de l’entreprise, ses enjeux, ses contraintes, et surtout ses richesses. L’enseignement à l’Ecole polytechnique est obligatoirement pluridisciplinaire. L’adaptabilité des étudiants pour faire face à des problèmes aussi complexes que variés s’en trouve renforcée.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}Les missions que vous pourrez confier à nos étudiants leur permettront de mettre en pratique les bases théoriques qu’ils ont acquises. Elles sont cette autre clef indispensable à leur formation.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}En retour, l’engagement que ceux-ci  montrent lors de la réalisation de leurs missions est la preuve qu’ils s’y épanouissent pleinement.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}C’est aussi et surtout un gage de la qualité que vous êtes en droit d’attendre.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}Notre association vit de cet enthousiasme partagé avec vous. Elle vit des missions que vous nous confiez.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}Pour tout cela, merci.{% endtrans %}
					</p>	

					<p style="text-align : right; margin-top : 70px;">
					{{'Thibaud Guédon'|trans}} </br />
					{{'Président d\'XProjets'|trans}}
					</p>
					
					</div>
					
					<div id="img-president">
					<img src="{{ asset('img/president.jpg') }}" class="img-circle img-polaroid" />
					</div>

					
        		</div>

			
			</div>
			<!-- end: Row -->	
	
      		<!--
      		<div class="row-fluid">
	
        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-beaker"></i>
						<h3>Mobile</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-thumbs-up"></i>
						<h3>Web</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-heart-empty"></i>
						<h3>Responsive</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

			</div>
			end: Row -->
			
			<div class="clearfix"></div>
			<hr class="clean">					
			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
<!-- end: 2nd Page - Services -->
	